registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
strict-ssl=true
prefer-offline=falselegacy-peer-deps=true
only-built-dependencies=electron,esbuild,node-mpv
